.tag {
  font-weight: 800;
  font-size: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
  border-radius: var(--border-radius-sm);
}

.tag--default {
  color: var(--tag-default-text);
  background-color: var(--tag-default-bg);
}

.tag--negative {
  color: var(--tag-negative-text);
  background-color: var(--tag-negative-bg);
}
