.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 100px;
  gap: 8px;
}

.button:focus {
  outline: none;
}

/* TODO: Define as base style? */
.button:focus-visible {
  outline: 2px solid var(--focus-outline-primary);
  outline-offset: 2px;
}

.button .icon.icon-20 {
  height: 20px;
  width: 20px;
}

.button .icon.icon-24 {
  height: 24px;
  width: 24px;
}

.button .icon > * {
  height: 100%;
  width: 100%;
}

.button .button__content {
  padding: 0;
  margin: 0;
}

/**
* Button sizing
*/
.button--medium {
  font-size: 1rem;
  height: 48px;
  padding: 4px 16px;
}

.button--small {
  font-size: 12px;
  line-height: 18px;
  height: 32px;
  padding: 6px 12px 6px 14px;
}

.button--small .icon {
  height: 1rem;
  width: 1rem;
}

/**
 * Button variant styles
 */

.button--solid {
  background-color: var(--button-solid-bg);
  color: var(--text-negative);
  border-color: transparent;
}

.button--solid:hover {
  background-color: var(--button-solid-bg-hover);
}

.button--outline {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--button-outline);
}

.button--outline:hover,
.button--outline:disabled:hover {
  background-color: var(--button-outline-bg-hover);
  border: 2px solid var(--primary);
  outline: none;
}

.button--outline:disabled {
  border-color: var(--button-outline-disabled);
  cursor: not-allowed;
}

.button--ghost {
  border: none;
  background-color: transparent;
  color: var(--primary-text);
}

.button--ghost:hover {
  background-color: transparent;
}
