.radio-range {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 343px; /* TODO: Use a variable */
}

/* Line behind radio options */
.radio-range::before {
  content: " ";
  height: 0.25rem;
  width: calc(100% - 2rem);
  background-color: var(--radio-background);
  position: absolute;
  top: calc(2rem / 2 - 0.25rem / 2);
  left: 1rem;
}

.radio-range__option {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center start;
  width: 2rem;
  text-align: center;
}

.radio-range label {
  font-size: 0.75rem;
  margin-top: 0.75rem;
}

.radio-range__option:first-child {
  text-align: left;
}

.radio-range__option:last-child {
  text-align: right;
}

@keyframes scale-option {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.radio-range input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: var(--radio-background);
  margin: 0;
}

.radio-range .option__indicator {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--radio-background);
}

.radio-range .disagree .option__indicator {
  background-color: var(--disagree);
}

.radio-range .agree .option__indicator {
  background-color: var(--agree);
}

.radio-range input:checked + .option__indicator {
  animation-name: scale-option;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  transition: background-color 0.3s ease 0s;
  outline: 0.25rem solid var(--radio-background);
}

.radio-range input[type="radio"].readonly,
.radio-range input[type="radio"].readonly + .option__indicator {
  cursor: not-allowed;
}
