.radio-range {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* TODO: Use a variable */
  max-width: 343px;
}

/* Line behind radio options */
.radio-range::before {
  content: " ";
  height: 0.25rem;
  width: calc(100% - 2rem);
  background-color: #d8d9db;
  position: absolute;
  top: calc(2rem / 2 - 0.25rem / 2);
  left: 1rem;
}

.radio-range__option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  width: 2rem;
}

.radio-range label {
  font-size: 0.75rem;
  margin-top: 0.75rem;
  /* TODO: Align first label to left and last to right */
}

@keyframes scale-option {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.radio-range input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: #d8d9db;
  margin: 0;
}

.option__indicator {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #d8d9db;
}

/* .option__indicator {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  margin: 0.25rem;
  background-color: red;
} */

/* input:not(:checked)+.option__indicator {
  background-color: #d8d9db;
} */

input:checked + .option__indicator {
  animation-name: scale-option;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  transition: background-color 0.3s ease 0s;
  background-color: #d72a56;
  outline: 0.25rem solid #d8d9db;
}
