:root {
  --dark-blue: #1a2b4a;
  --blue-black: #131415; /* rgb(19, 20, 21); */
  --yle-logo: #00b4c8;

  /* Grayscale */
  --gray-5: #f8f9fa; /* rgb(248, 249, 250) */
  --gray-10: #f1f2f4;
  --gray-20: #e8e9eb;
  --gray-30: #d8d9db;
  --gray-40: #b4b6b7;
  --gray-50: #949697;
  --gray-60: #4a4f54;
  --gray-70: #323639;
  --gray-80: #292b2d;
  --gray-90: #1f2123;
  --gray-95: #131415;
  --black-9: rgba(0, 0, 0, 9%);
  --black-15: rgba(0, 0, 0, 15%);
  --black-41: rgba(0, 0, 0, 41%);
  --black-70: rgba(0, 0, 0, 70%);
  --white-17: rgba(255, 255, 255, 17%);
  --white-21: rgba(255, 255, 255, 21%);
  --white-71: rgba(255, 255, 255, 71%);

  /* Semantic colors: light theme */
  --error: #d72a56;
  --success: #058657;

  /* Semantic colors: dark theme */
  --live-red: #e90e43;
  --green-bright: #06b173;

  /* Candidate colors */
  --ant-blue: #1677ff;
  --mantine-blue: #339af0;
  --chakra-teal: #319795;
  --shadcn-black: #18181b;
}
