@import "./colors.css";
@import "./variables.css";
@import "./reset.css";
@import "./typography.css";
@import "./layout.css";
@import "./utils.css";
@import "./themes/light-theme.css";
@import "./themes/dark-theme.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* TODO: Update font family */
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px; /* 14px in Yle's styles */
  color: var(--text-primary);
  height: 100vh;
  background-color: var(--bg-primary);
}

#root {
  flex: 1 1 auto;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
