/**
 * General, reusable layout styles
 */

.page-sections__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 680px; /* TODO: Use variable, define globally for some page content wrapper? */
}

.row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
