.heading-1-large {
  font-size: 32px;
  font-weight: 700;
  color: var(--heading-primary);
  line-height: 1.2;
}

.heading-1 {
  font-size: 28px;
  color: var(--heading-primary);
  line-height: 130%;
  font-weight: 900;
}

.heading-3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--heading-primary);
}

.body-bold {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.body-small {
  font-size: 14px;
  line-height: 150%;
  font-weight: normal;
}
