.m-0 {
  margin: 0;
}

.p-24 {
  padding: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pb-8 {
  padding-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.gap-24 {
  gap: 24px;
}

.mt-40 {
  margin-top: 40px;
}
