/* TODO: Options need to collapse at breakpoint 768px */

.toolbar {
  position: relative;
  width: 100%;
  height: var(--toolbar-height); /* TODO: Responsive height, use variable */
  box-shadow: var(--black-15) 0 0 7px 0;
  background-color: var(--toolbar-bg);
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.toolbar__nav {
  max-width: 1080px; /* TODO: Use variable? */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.toolbar__nav a {
  text-decoration: none;
}

.toolbar__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.toolbar__logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.toolbar__logo {
  height: 40px;
  width: 40px;
  background-color: var(--yle-logo);
  border-radius: 2px;
}
