.candidate-header__organization {
  font-size: 12px;
  line-height: 150%;
  font-weight: 700;
}

/* TODO: Add custom font size */
/* TODO: Apply border color */
.candidate-number {
  font-size: 20px;
  line-height: 150%;
  border: 1px solid var(--primary);
}
