.question-page__header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  text-align: center;
  background-color: var(--page-header-bg);
}

.question-page__title {
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 900;
  margin: 0;
}

.question-page__header h1 {
  margin: 0;
}

.page-intro {
  margin: var(--spacing) var(--spacing) 32px;
  line-height: 1.5;
  max-width: 680px;
}

.question-page__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.question-page__category-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-page__category-section .card {
  width: 100%;
}
