dialog.modal {
  border: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-primary);
  background-color: var(--modal-bg);
  box-shadow: var(--modal-box-shadow);
  padding: 0;
  min-width: var(--modal-min-width);
  min-height: var(--modal-min-height);
  max-height: var(--modal-max-height);
  max-width: var(--modal-max-width);
  overflow-y: auto;
}

dialog.modal::backdrop {
  background-color: var(--modal-backdrop);
}

.modal__content {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  height: 100%;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: var(--border-radius-sm);
  margin-left: 4px;
}
