.answer-list .section-card__content {
  padding: 0;
}

.answer-list .answer-card {
  border-bottom: 1px solid var(--bg-primary);
}

.answer-list .answer-card:last-of-type {
  border-bottom: none;
}

.answer-list .separator {
  margin: 0 auto;
  height: 1px;
  max-width: calc(100% - 2 * 24px);
  background-color: var(--separator);
}

.answer-list__expand-button.toggled {
  background-color: transparent;
}

.answer-list__expand-button:hover {
  background-color: var(--button-outline-hover);
}
