.comment-card {
  max-width: var(--comment-max-width);
  width: 100%;
  position: relative;
  background-color: var(--candidate-comment-bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px 16px 16px;
  border-radius: var(--border-radius-sm);
  font-size: 14px;
  margin: 12px 10px 0;
}

.comment-card.answer-scale {
  margin-top: 28px;
}

.comment-card__header {
  font-weight: 700;
}

.comment-card__arrow {
  position: absolute;
  transform: rotate(45deg);
  top: -6px;
  width: 16px;
  height: 16px;
  background-color: var(--candidate-comment-bg);
}
