.radio-display {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--radio-range-max-width);
}

/* Line behind radio options */
.radio-display::before {
  content: " ";
  height: 0.25rem;
  width: calc(100% - 2rem);
  background-color: var(--radio-background);
  position: absolute;
  top: calc(2rem / 2 - 0.25rem / 2);
  left: 1rem;
}

.radio-display__option {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center start;
  width: 2rem;
  text-align: center;
}

.radio-display label {
  font-size: 0.75rem;
  margin-top: 0.75rem;
}

.radio-display:has(.user-answer-bubble) {
  margin-top: 70px;
}

.radio-display .user-answer-bubble {
  --padding: 10px;

  position: absolute;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  bottom: calc(100% + var(--padding));
  justify-content: center;
  text-align: center;
}

.radio-display__option:first-child {
  text-align: left;
}

.radio-display__option:last-child {
  text-align: right;
}

.radio-display input[type="radio"] {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-color: var(--radio-background);
  margin: 0;
}

.radio-display .option__indicator {
  cursor: pointer;
  position: absolute;
  top: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--radio-background);
}

.radio-display .option__indicator:has(.candidate-indicator) {
  background-color: inherit;
}

.radio-display .user-answer .candidate-indicator {
  clip-path: polygon(-1px -1px, 50% -1px, 50% 100%, -1px 100%);
}

.radio-display .candidate-answer {
  z-index: 2;
}

.radio-display .disagree .option__indicator {
  background-color: var(--disagree);
}

.radio-display .agree .option__indicator {
  background-color: var(--agree);
}

.radio-display input:checked + .option__indicator {
  outline: 0.25rem solid var(--radio-background);
}

.radio-display input[type="radio"].readonly,
.radio-display input[type="radio"].readonly + .option__indicator {
  cursor: not-allowed;
}
