.speech-bubble {
  --tip-size: 10px;
  font-size: 14px;
  color: var(--user-answer-bubble-text);
  position: relative;
  margin-bottom: var(--tip-size);
}

.speech-bubble.disagree {
  background-color: var(--disagree);
}

.speech-bubble.agree {
  background-color: var(--agree);
}

.speech-bubble::before {
  display: block;
  position: absolute;
  background-color: inherit;
  content: "";
  width: var(--tip-size);
  height: var(--tip-size);
  bottom: calc(var(--tip-size) * -1 + 1px);
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}
