.yes-or-no-answer__container:has(.user-answer-bubble) {
  margin-top: 50px;
  margin-bottom: 10px;
}

.yes-or-no-answer__option button {
  margin-top: 8px;
}

.yes-or-no-answer__option .user-answer-bubble {
  --bubble-padding: 10px;
  position: absolute;
  bottom: calc(100% + var(--bubble-padding));
}
