.section-card {
  width: 100%;
  background-color: var(--card-bg);
  border-radius: var(--border-radius-sm);
}

.section-card__header {
  padding: 21px 24px 16px;
  border-bottom: var(--section-card-header-border);
}

.section-card__title {
  margin: 0;
  font-size: 20px;
  line-height: 140%;
}

.section-card__content {
  padding: 24px; /* TODO: Use variable */
}
