/**
* Match visibility toggle
*/
.button.match-bar__toggle {
  border-radius: var(--border-radius-sm);
  padding-left: 12px;
  padding-right: 12px;
}

.match-bar__toggle.toggled-transparent {
  background-color: transparent;
}
