.match-bar {
  position: fixed;
  z-index: 99;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--match-bar-height);
  width: 100%;
  background-color: var(--toolbar-bg); /* TODO: Double check color */
  box-shadow: var(--match-bar-shadow);
}

.match-bar__content {
  max-width: 520px;
  display: flex;
  align-items: center;
  width: 100%;
}

.match-bar__matches {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  padding-top: 4px;
}

/**
 * Placeholder styles
 */
.match-bar .placeholder-match {
  justify-content: space-between;
  height: 100%;
  width: 32px;
}

.placeholder-candidate,
.placeholder-score {
  background-color: var(--match-placeholder-bg);
  width: 100%;
  margin-bottom: 2px;
}

.placeholder-candidate {
  height: 34px;
}

.placeholder-score {
  height: 18px;
}

/**
* Match visibility toggle
*/
.button.match-bar__toggle {
  border-radius: var(--border-radius-sm);
  padding-left: 12px;
  padding-right: 12px;
}

.match-bar__toggle.toggled-transparent {
  background-color: transparent;
}
