.match-result {
  cursor: pointer;
}

.match-result__img {
  background-color: rgb(241, 242, 244); /* TODO: Use a themed variable */
}

.match-result__score {
  /* TODO: Use a font style class */
  font-size: 14px;
  line-height: 150%;
}
